<div class="cities-select-form">{{ cities_select_form }}</div>
<canvas id="cityDoubleRadarChart" width="400" height="300"></canvas>
<p><a class="btn btn-xs btn-default" href="#" role="button" id="print-city-radar-chart">Print</a></p>
