<div class="city-select-form">{{ city_select_form }}</div>
<div id="polarChartWithLegend">
    <canvas id="cityPolarChart" width="400" height="300"></canvas>
    <div id="cityPolarChartLegend" class="chart-legend"></div>
</div>
<p><a class="btn btn-xs btn-default" href="#" role="button" id="print-city-polar-chart">Print</a></p>
